/mr_steve/obj
/mr_steve/bin
/.vs/mr_steve/v16/.suo
/.vs/mr_steve/v16/Server/sqlite3/db.lock
/.vs/mr_steve/v16/Server/sqlite3/storage.ide
/.vs/mr_steve/v16/Server/sqlite3/storage.ide-shm
/.vs/mr_steve/v16/Server/sqlite3/storage.ide-wal
